#Nav {
    max-width: 250px;
    padding: 0px 50px;
    height: 100vh;
    background: #3B2B4F;
    position: fixed;
    width: 350px;
    transition: 300ms;
}

#Nav.hidden {
    width: 0px;
    padding: 0px;
}
#Nav > img.hidden,
#Nav > h3.hidden,
#Nav > #NavItems.hidden {
    display: none;
}

.container.hidden {
    margin-left: 0px !important;
    transition: 300ms;
}

.container.showing {
    margin-left: 350px !important;
    transition: 300ms;
}

#Nav > img {
    width: 150px;
    border: 6px solid #FFF;
    max-height: 150px;
    margin: 70px 48px 25px 48px;
    border-radius: 50%;
}

#Nav > h3 {
    text-align: center;
    color: #FFF;
}

#NavItems {
    margin: 40px 0px;
    width: 300px;
    padding: 0px 0px;
    color: #FFF;
    height: 100%;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

#NavItems > a {
    font-weight: 400;
    padding: 30px 10px;
    transition: ease-in-out 100ms;
    color: #FFF;
    text-decoration: none;
}

#NavItems > a:hover {
    margin-left: 20px;
    color: #CCC;
}

#toggle {
    position: absolute;
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    top: 10px;
    left: 360px;
    transition: 300ms;
}

#toggle.hidden {
    top: 10px;
    left: 30px;
}

#toggle > div:nth-child(1) {
    width: 60%;
    margin-left: 5%;
}

#toggle > div:nth-child(3) {
    width: 60%;
    margin-left: 35%;
}

#toggle > div {
    background: #FFF;
    height: 5px;
    border-radius: 3px;
}
