#Student {
    min-height: calc(100vh - 180px);
    background: #1A1E29;
    padding: 90px 150px;
}

#Student  > h2 {
    color: #FFF;
    margin-bottom: 40px;
}

#Student  > h3 {
    color: #FFF;
    margin-bottom: 20px;
}

#Info {
    display: flex;
}

#Info > span > img {
    width: 250px;
}

#Info > span {
    color: #FFF;
    margin: 0px 25px;
    height: 500px;
}

#Info > span > span {
    display: flex;
    min-width: 600px;
    margin: 35px 10px;
}

#Info > span > span > h3:nth-child(1){
    min-width: 250px;
    color: #CCC;
}

#Info > span > span > h3 {
    font-weight: 200;
    font-size: 18px;
}

.tableClass {
    margin-left: 325px;
    color: #FFF;
    margin-bottom: 20px;
}

.tableClass > h2 {
    margin-bottom: 40px;
}

.tableClass > span {
    background: #3B2B4F;
    display: flex;
    /* padding-right: 30px; */
    flex-wrap: wrap;
}

.tableClass > .addAbscence > h4:nth-child(odd) > input {
    background: #3B2B4F;
}

.tableClass > span > * {
    text-align: center;
    border-bottom: 1px solid #FFF !important;
    border-right: 1px solid #FFF !important;
}

.tableClass > span > h4:nth-child(1) {
    max-width: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #FFF;
}

.tableClass > span:nth-child(2) {
    border-top: 1px solid #FFF;
}

.tableClass > span > h4:nth-child(2) {
    max-width: calc(100% - 426px); 
    min-width: calc(100% - 426px);
    text-align: left;
    padding: 10px;
}

.tableClass > span > textarea {
    max-width: calc(100% - 426px); 
    min-width: calc(100% - 426px);
    text-align: left;
    padding: 5px 10px;
    color: #FFF;
    background: #846BC7;
    font-size: 1.1em;
    resize: none;
    outline: none;
    min-height: 50px;
    border: none;
}

#Abscences > span > h4:nth-child(3) {
    max-width: 120px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Abscences > span > h4:nth-child(4) {
    max-width: 70px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Abscences > span > h4:nth-child(5) {
    max-width: 160px;
    min-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableClass > span > h4 > input {
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    background: #846BC7;
    color: #FFF;
    text-align: center;
    outline: none;
    border: none;
}

.tableClass  > div > button {
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #FFF;
    background: #37C956;
    margin: 20px 0px;
    padding: 7px 10px;
    margin-left: -1px;
    margin-right: 50px;
}

#studentSubjects > span > h4:nth-child(3){
    max-width: 170px;
    min-width: 170px;
    text-align: left;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #studentSubjects > span > h4:nth-child(4){
    max-width: 140px;
    min-width: 140px;
    text-align: left !important;
    padding: 0px 10px;
    display: flex;
    align-items: center;
 }

 #studentSubjects > span > h4:nth-child(2) {
    min-width: calc(100% - 426px);
    max-width: calc(100% - 426px);
    text-align: left;
    padding: 10px;
}
 
 .break {
     max-width: calc(100% - 2px);
     flex-basis: 100%;
     display: flex;
     background: #3B2B4F;
 }

 .break > .quarter {
     width: calc(20% - 1px);
     border-left: 1px #FFF solid;
 }

 .break > .quarter {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .break > .quarter > h4 {
     padding: 8px 0px;
 }

 .break > .quarter > span > span {
     display: flex;
     border-top: 1px solid #FFF;
 }

 .break > .quarter > span > span > h4 {
    min-width: calc(70% - 34px);
    text-align: left;
    padding: 5px 8px;
}

.break > .quarter > span > span > input {
    padding: 0px 9px;
    min-width: 30%;
    border: none;
    color: #FFF;
    background: #846BC7;
    text-align: center;
    font-size: 1.3em;
    outline: none;
}

.break > .quarter > button {
    padding: 7px 9px;
    border: none;
    background: #37C956;
    text-align: center;
    color: #FFF;
    outline: none;
    font-weight: 580;
    cursor: pointer;
}

.break > .quarter > h3 {
    padding: 4px 5px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

#Subjects > form {
    color: #FFF;
    width: 400px;
    margin: 50px 10px;
    transition: 200ms;
    height: 285px;
    overflow: hidden;
}

#enrollSubject {
    margin-left: 325px;
    margin-top: 50px;
}

#enrollSubject > h2 {
    margin-bottom: 35px;
    color: #FFF;
}

#enrollSubject > form > select{
    width: 650px;
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 28px;
    background: #1A1E29;
    padding: 0px 10px;
    color: #EEE;
    background: #846BC7;
    border: none;
}

#enrollSubject > form > label {
    color: #FFF;
}

#enrollSubject > form > textarea {
    height: 70px !important;
    padding: 10px;
}

#enrollSubject > form > button {
    color: #FFF;
    border: none;
    background: #846BC7;
    padding: 8px 17px;
    border-radius: 5px;
    font-size: 1.05em;
    font-weight: 550;
    cursor: pointer;
}