.StudentCard {
    width: 200px;
    margin: 10px;
    background: #3B2B4F;
}

.StudentCard > img {
    width: 200px;
    height: 200px;
}

.StudentCard > a {
    color: #FFF;
    display: inline-block;
    padding: 6px 5px 8px 5px;
    text-decoration: none;
}

.StudentCard:hover {
    background: #846BC7;
}