#SubjectClasses {
    min-height: calc(100vh - 180px);
    background: #1A1E29;
    padding: 90px 150px;
}

#SubjectClasses  > h2 {
    color: #FFF;
    margin-bottom: 40px;
}

#SubjectClasses > a {
    display: inline-block;
    background: #3C3F4F;
    color: #FFF;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    padding: 50px 35px 10px 35px;
    transition: 300ms;
}

#SubjectClasses > a:hover,
#SubjectClasses > span:hover {
    background: #846BC7;
}

#SubjectClasses > a > h2, 
#SubjectClasses > a > h5{
    display: inline;
    vertical-align: text-top;
}

#SubjectClasses > a > h6 {
    margin-top: 40px;
}

#SubjectClasses > .subject {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #3C3F4F;
    color: #FFF;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    transition: 300ms;
    width: calc(100% - 60px);
    padding: 20px;
}

@media only screen and (max-width : 940px) {
    #SubjectClasses {
        min-height: calc(100vh - 180px);
        background: #1A1E29;
        padding: 90px 10px;
    }
}